@font-face {
    font-family: "AdobeGaramondPro";
    src: url("adobeGaramondProRegular.ttf")
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

a {
    color: #000;
}

.navigation {
    color: black;
    padding: 1rem;
    font-family: "AdobeGaramondPro";
    font-size: 1.25rem;
}

#navigation__line--top-left {
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    width: 3.5rem;
    height: 1px;
}

#navigation__previous {
    text-decoration: underline;
    position: absolute;
    left: 7rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
}

#navigation__next {
    text-decoration: underline;
    position: absolute;
    right: 7rem;
    top: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
}

#navigation__line--top-right {
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    right: 3rem;
    top: 1.5rem;
    position: absolute;
    width: 3.5rem;
    height: 1px;
}

#navigation__name {
    text-align: center;
}

#navigation__twitter {
    text-decoration: underline;
    font-size: 0.75rem;
    text-align: left;
    transform: matrix(2.25364884925431e-15, -1.10288532247699, 1.10288532247699, 0, 0, 0);
    position: absolute;
    bottom: 15%;
    left: 1.5rem;
}

#navigation__instagram {
    text-decoration: underline;
    font-size: 0.75rem;
    text-align: left;
    transform: matrix(2.25364884925431e-15, -1.10288532247699, 1.10288532247699, 0, 0, 0);
    position: absolute;
    bottom: 25%;
}

#navigation__left-line {
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 35%;
    left: 2.5rem;
    width: 1px;
    height: 155px;
}

#navigation__date {
    font-size: 0.75rem;
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
}

#navigation__line--bottom-left {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 7rem;
    bottom: 2rem;
    width: 12.5rem;
    height: 1px;
}

#navigation__author {
    font-size: 0.75rem;
    position: absolute;
    bottom: 1.5rem;
    left: 20rem;
}

#navigation__collection--title {
    position: absolute;
    bottom: 1rem;
    left: 30rem;
}

#navigation__see-all {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 1rem;
    left: 48%;
    text-align: center;
    text-decoration: underline;
}

.navigation__collection--numbers {
    position: absolute;
    text-align: center;
    right: 2.5rem;
    top: 15rem;
}

#navigation__line--side-right {
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 1rem;
    width: 1px;
    height: 129px;
}

#active__collection {
    font-size: 2.5rem;
}

#inactive__collection {
    position: absolute;
    text-align: center;
    right: 0.5rem;
    top: 12rem;
}