main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package-category {
    border: 4px solid #0e4f1f;
    margin: 1rem 0;
    width: 80%;
    border-left: none;
    position: relative;
}

.package-category a {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 2rem;
}

.package-badge {
    width: 12rem;
    text-align: center;
    position: absolute;
    color: white;
    background: #FF1B68;
    padding: 0.5rem;
    margin: 0;
    font-size: 0.75rem;
    right: 0;
    top: 0;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
}

.package-category:hover,
.package-category:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 4px solid #FF1B68;
}

.package-category__subtitle {
    color: #979797;
}

.package-category__description {
    color: #0e4f1f;
    padding: 1 rem;
    border: 1px solid #0e4f1f;
    font-size: 1.25rem;
    background: white;
}

.clearfix {
    clear: both;
}

#package-free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#package-free:hover,
#pachage-free:active {
    border-left-color: #FF1B68;
}

#package-plus {
    background: rgba(213, 255, 220, 0.95);
    overflow: hidden;
}

#package-premium {
    background: rgba(14, 79, 31, 0.95);
}

#package-premium .package-category__title {
    color: white;
}

#package-premium .package-category__subtitle {
    color: #bbb;
}

@media(min-width: 40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 1500px) {
    .package-category {
        border-left: 4px solid #0e4f1f;
    }
    #package-free {
        border-right: 4px solid #0e4f1f;
    }
    #package-free:hover,
    #pachage-free:active {
        border-right-color: #FF1B68;
    }
}